# https://docs.python.org/2/library/datetime.html#strftime-strptime-behavior
broadcast_date_format = '%Y%m%d'

# Possible values: [overwrite, ignore].
remote_file_exists_action = 'overwrite'

# TODO: what to do after converting .ogg to .mp3 with .ogg file?
# Possible values: [remove, nothing].
local_ogg_file_action = 'nothing'

# Let's upload last week files
days_back_start = 7
days_back_end = 1

[ftp]
    host = 'b64encodedhost'
    port = 'b64encodedport'
    user = 'b64encodeduser'
    password = 'b64encodedpassword'

[dir]
    local = '/tmp/audios'
    remote = '/'
    log = '/tmp/log.txt'
    ignore = 'falcas', 'musica'

[audio_tags]
    mp3 = 'Audio', 'layer III',
    ogg = 'Ogg',
